GOOGLE GEOCODING API

In [ ]:
import requests, json
import pandas as pd
locations_file = '/home/jasmeet16-jtg/locations.csv'
loc_df = pd.read_csv('/home/jasmeet16-jtg/locations.csv')[:1]
api_key = 'AIzaSyDtMgHvzUPmW5uOD6CgNt8tVRVo1O0In1M'
url = 'https://maps.googleapis.com/maps/api/geocode/json?'
result_df = pd.DataFrame(columns=['city', 'state', 'lat', 'lng'])
for i in range(0, len(loc_df)):
    row = []
    city = loc_df.loc[i]['city']
    state = loc_df.loc[i]['city']
    place += city + ',' + state
    response = requests.get(url + 'address=' + place + '&key=' + api_key)
    x = response.json()
    lat = x['results'][0]['geometry']['location']['lat']
    lng = x['results'][0]['geometry']['location']['lng']
    row = [city, state, lat, lng]
    result_df.loc[i] = row
result_df

MICROSOFT GEOCODING API

In [ ]:
import requests, json
import pandas as pd
locations_file = '/home/jasmeet16-jtg/locations.csv'
output_file = '/home/jasmeet16-jtg/locations_with_lng_lat.csv'
loc_df = pd.read_csv('/home/jasmeet16-jtg/locations.csv')
api_key = 'As1u17uf3h7eVhyvshDQEiUR24tewzQOhERscbUXJM3A4bA873A9jC73O9AjysUS'
url = 'http://dev.virtualearth.net/REST/v1/Locations?query={}&key={}'

result_df = pd.DataFrame(columns=['college', 'count', 'city', 'state', 'lat', 'lng'])
for i in range(0, len(loc_df)):
    row = []
    place = ''
    city = loc_df.loc[i]['city']
    state = loc_df.loc[i]['state']
    college = loc_df.loc[i]['college']
    count = loc_df.loc[i]['hirable_students']
    place += city + ',%20' + state
    response = requests.get(url.format(place, api_key))
    x = response.json()
    box = x['resourceSets'][0]['resources'][0]['bbox']
    lat = (box[0] + box[2])/2
    lng = (box[1] + box[3])/2
    row = [college, count, city, state, lat, lng]
    result_df.loc[i] = row
result_df.to_csv(output_file)

CLUSTERING COLLEGES BASED ON DISTANCE

In [ ]:
from sklearn.cluster import AgglomerativeClustering
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
input_file = '/home/jasmeet16-jtg/locations_with_lng_lat.csv'
output_file = '/home/jasmeet16-jtg/pool_colleges.csv'
df = pd.read_csv(input_file)
df1 = np.array(df[['lat', 'lng']])

# n_clusters = 10
# hc = AgglomerativeClustering(n_clusters=n_clusters, affinity = 'euclidean', linkage = 'ward')
hc = AgglomerativeClustering(affinity = 'euclidean', linkage = 'ward', distance_threshold=1.4846059080767864)
y_hc = hc.fit_predict(df1)

display(y_hc)
for i in range(0, max(y_hc)):
    plt.scatter(df1[y_hc == i,0], df1[y_hc == i,1], s=100)
plt.show()

df = pd.concat([df, pd.DataFrame(y_hc)], axis=1)
df = df.sort_values(by=0)
centroid_lat, centroid_lng = [], []
for i in range(0, df[0].nunique()):
    df1 = df[df[0]==i]
    for row in df1.iterrows():
        lt = [df1['lat'].min(), df1['lng'].min()]
        rb = [df1['lat'].max(), df1['lng'].max()]
        centroid_lat.append((lt[0] + rb[0])/2)
        centroid_lng.append((lt[1] + rb[1])/2)
df['centriod_lat'] = centroid_lat
df['centriod_lng'] = centroid_lng
df.to_csv(output_file)

CLUSTERING COLLEGES BASED ON COUNT 1

In [ ]:
import pandas as pd
input_file = '/home/jasmeet16-jtg/pool_colleges.csv'
output_file = '/home/jasmeet16-jtg/pool_colleges_with_distance_count.csv'
result_df = pd.DataFrame()
df = pd.read_csv(input_file).dropna()
req, cluster_number = 1000, 0
result_df = pd.DataFrame(columns=['college', 'city', 'state', 'count', 'lat', 'lng', 'cluster_number'])
for i in range(0, df['0'].nunique()):
    temp_df = df[df['0'] == i].sort_values(by='count', ascending=False)
    for j in range(0, len(temp_df)):
        sum_,m = 0, 0
        temp_df1 = pd.DataFrame(columns=['college', 'city', 'state', 'count', 'lat', 'lng', 'cluster_number'])
        for k in range(j, len(temp_df)):
            sum_ += temp_df.loc[temp_df.index[k]]['count']
            temp_df1.loc[m] = temp_df.loc[temp_df.index[k]]
            m += 1
            if sum_ >= req or k == (len(temp_df) - 1):
                temp_df1['cluster_number'] = cluster_number
                cluster_number += 1
                result_df = pd.concat([result_df, temp_df1])
                break

result_df.to_csv(output_file)
result_df

CLUSTERING COLLEGES BASED ON COUNT 2

In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

input_file = '/home/jasmeet16-jtg/pool_colleges.csv'
output_file = '/home/jasmeet16-jtg/pool_colleges_quality_clusters.csv'
df = pd.read_csv(input_file).dropna()
result_df = pd.DataFrame()

for i in range(df['0'].nunique()):
    df1 = df[df['0']==i]
    if not len(df1):
        continue
    max_ = df1['Unnamed: 0'].max()
    max_count = df1['count'].max()
    norm_count = []
    for row in df1.iterrows():
        norm_count.append((row[1][3]/max_count)*max_)
    df1['norm_count'] = norm_count
    n_clusters = 4 if len(df1) >= 4 else len(df1)
    kmeans = KMeans(n_clusters=n_clusters).fit(df1[['Unnamed: 0', 'norm_count']])
    df1['final_clusters'] = list(kmeans.labels_)
    df1.sort_values(by='final_clusters')
    result_df = pd.concat([result_df, df1])
result_df = result_df.sort_values(by=['0', 'final_clusters'])
result_df.to_csv(output_file)

/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jasmeet16-jtg/projects/virtualenvs/calyx_ds3/lib/python3.5/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TEMP

In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

input_file = '/home/jasmeet16-jtg/pool_colleges.csv'
output_file = '/home/jasmeet16-jtg/pool_colleges_quality_clusters.csv'
df = pd.read_csv(input_file).dropna()
result_df = pd.DataFrame()

for i in range(df['0'].nunique()):
    df1 = df[df['0']==i]
    if not len(df1):
        continue
    max_ = df1['Unnamed: 0'].max()
    max_count = df1['count'].max()
    max_lat = df1['lat'].max()
    max_lng = df1['lng'].max()
    norm_count, norm_lat, norm_lng = [], [], []
    for index, row in df1.iterrows():
        norm_count.append((row['count']/max_count)*max_)
        norm_lat.append((row['lat']/max_lat)*max_)
        norm_lng.append((row['lng']/max_lng)*max_)
    df1['norm_count'] = norm_count
    df1['norm_lat'] = norm_lat
    df1['norm_lng'] = norm_lng
    n_clusters = 4 if len(df1) >= 4 else len(df1)
    kmeans = KMeans(n_clusters=n_clusters).fit(df1[['Unnamed: 0', 'norm_count', 'norm_lat', 'norm_lng']])
    df1['final_clusters'] = list(kmeans.labels_)
    df1.sort_values(by='final_clusters')
    result_df = pd.concat([result_df, df1])
result_df = result_df.sort_values(by=['0', 'final_clusters'])
result_df.to_csv(output_file)

FINAL OUTPUT

In [4]:
import pandas as pd
import numpy as np
input_file = '/home/jasmeet16-jtg/pool_colleges_quality_clusters.csv'
df = pd.read_csv(input_file)
company_lat = 28.503129
company_lng = 77.083702
req = 1000
def get_latdiff(lat):
    return np.power(abs(lat-company_lat), 2)
df['lat_diff'] = df[['centriod_lat']].apply(get_latdiff)

def get_lngdiff(lng):
    return np.power(abs(lng-company_lng), 2)
df['lng_diff'] = df[['centriod_lng']].apply(get_lngdiff)
df['distance'] = np.sqrt(df['lat_diff']+df['lng_diff'])
df = df.sort_values(by='distance', ascending=True)

def getuniq(l):
    a = []
    i = 0
    while i < len(l):
        s = l[i]
#         print(s)
        a.append(s)
        while i < len(l) and l[i] == s:
            i += 1
    return a
        
x = getuniq(list(df['0']))
cluster_to_present = 10
result_df = pd.DataFrame()
j,i=0,0
# while i < cluster_to_present and j < len(x):
while j<len(x):
    i += 1
    temp_df = df[df['0']==x[j]]
    j += 1
    group_obj = temp_df.groupby('final_clusters')['Unnamed: 0.1'].apply(np.mean).reset_index().rename(columns={'Unnamed: 0.1':'mean'})
    group_obj = group_obj.sort_values('mean')
    a_df = pd.DataFrame()
    sum_ = 0
    for row in group_obj.iterrows():
        f_df = temp_df[temp_df['final_clusters']==row[1][0]]
        for index, row in f_df.iterrows():
#             display(row)
            a_df = a_df.append(row)
#             a_df = pd.concat([a_df, row], axis=0)
            sum_ += row['count']
            if sum_>req:
                display(a_df)
                print(sum_)
                a_df = pd.DataFrame()
                sum_ = 0
                cluster_to_present += 1
        if sum_ >= int(0.6*req):
            display(a_df)
            print(sum_)
            a_df = pd.DataFrame()
            sum_ = 0
            cluster_to_present += 1

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
15,2.0,31.0,16.0,16.0,28.633115,77.041071,Faridabad,YMCA University of Science & Technology,770.0,0.136798,1.0,28.372118,0.016896,77.329418,0.001817,35.177665,Haryana
14,2.0,23.0,5.0,5.0,28.633115,77.041071,Ghaziabad,ABES Engineering College,469.0,0.136798,1.0,28.677131,0.016896,77.414047,0.001817,21.426396,Uttar Pradesh

1239.0

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
13,2.0,17.0,2.0,2.0,28.633115,77.041071,Noida,"Jaypee Institute of Information Technology, Noida",588.0,0.136798,1.0,28.525224,0.016896,77.397499,0.001817,26.862944,Uttar Pradesh
12,2.0,16.0,1.0,1.0,28.633115,77.041071,New Delhi,Maharaja Surajmal Institute of Technology,985.0,0.136798,1.0,28.643998,0.016896,77.091000,0.001817,45.000000,Delhi

1573.0

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
16,2.0,25.0,19.0,19.0,28.633115,77.041071,New Delhi,Bharati Vidyapeeth's College of Engineering,400.0,0.136798,2.0,28.643998,0.016896,77.091000,0.001817,18.274112,Delhi
18,2.0,29.0,14.0,14.0,28.633115,77.041071,Greater Noida,IEC Group Of Institutions,128.0,0.136798,2.0,28.493085,0.016896,77.469986,0.001817,5.847716,Uttar Pradesh
17,2.0,26.0,18.0,18.0,28.633115,77.041071,Greater Noida,Noida Institute of Engineering and Technology,322.0,0.136798,2.0,28.493085,0.016896,77.469986,0.001817,14.710660,Uttar Pradesh

850.0

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
23,5.0,36.0,8.0,8.0,30.254935,76.404245,Patiala,Thapar Institute of Engineering and Technology,225.0,1.878958,2.0,30.341997,3.068824,76.400921,0.461661,14.975649,Punjab
22,5.0,40.0,11.0,11.0,30.254935,76.404245,Chandigarh,University Institute Of Engineering & Technology,616.0,1.878958,1.0,30.541389,3.068824,75.955093,0.461661,41.000000,Punjab

841.0

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
5,1.0,14.0,3.0,3.0,13.028952,77.766619,Bangalore,Dayananda Sagar Institutions,2652.0,15.489239,1.0,12.947321,239.45015,77.579506,0.466375,37.0,Karnataka

2652.0

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
6,1.0,15.0,4.0,4.0,13.028952,77.766619,Bengaluru,Dayananda Sagar College of Engineering,1472.0,15.489239,2.0,12.947321,239.45015,77.579506,0.466375,20.536953,Karnataka

1472.0

,0,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,centriod_lat,centriod_lng,city,college,count,distance,final_clusters,lat,lat_diff,lng,lng_diff,norm_count,state
7,1.0,11.0,13.0,13.0,13.028952,77.766619,Bengaluru,RNS Institute of Technology,180.0,15.489239,3.0,12.947321,239.45015,77.579506,0.466375,2.511312,Karnataka
4,1.0,12.0,35.0,35.0,13.028952,77.766619,Bengaluru,Bangalore Institute Of Technology,94.0,15.489239,0.0,12.947321,239.45015,77.579506,0.466375,1.311463,Karnataka
3,1.0,8.0,37.0,37.0,13.028952,77.766619,Bengaluru,MVJ College of Engineering,54.0,15.489239,0.0,12.947321,239.45015,77.579506,0.466375,0.753394,Karnataka
2,1.0,7.0,28.0,28.0,13.028952,77.766619,Tumkur,Siddaganga Institute of Technology,26.0,15.489239,0.0,13.348829,239.45015,77.115417,0.466375,0.362745,Karnataka
1,1.0,6.0,29.0,29.0,13.028952,77.766619,Bengaluru,The Oxford College of Engineering,198.0,15.489239,0.0,12.947321,239.45015,77.579506,0.466375,2.762443,Karnataka
0,1.0,5.0,36.0,36.0,13.028952,77.766619,Bengaluru,CMR Institute of Technology,294.0,15.489239,0.0,12.947321,239.45015,77.579506,0.466375,4.101810,Karnataka

846.0

In [ ]:
import mpu

# Point one
lat1 = 52.2296756
lon1 = 21.0122287

# Point two
lat2 = 52.406374
lon2 = 16.9251681

# What you were looking for
dist = mpu.haversine_distance((lat1, lon1), (lat2, lon2))
print(dist)  # gives 278.45817507541943.